:root {
    --backColor:#bec3c5;
    --color: #202222;
}
[data-theme="dark"] {
    --backColor:#202222;
    --color: #bec3c5;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--backColor);
    color: var(--color);
}
#header{
    text-align: center;
    font-size: 5rem;
}
#clock-icon{
    width: 60px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: baseline;
    /* background-color: blueviolet; */
}
#hour{
    font-size: 10rem;
}
#minute{
    font-size: 9rem;
}
#second{
    font-size: 8rem;
}
@media (max-width: 650px){
    #hour{
        font-size: 6rem;
    }
    #minute{
        font-size: 5rem;
    }
    #second{
        font-size: 4rem;
    }   
}
/* dark mode checkbox */
.theme-swich{
    position: absolute;
    top: 5px;
    right: 5px;
}

#clock-icon{
    /* filter: invert(1); */
}