:root {
    --backColor:#bec3c5;
    --color: #202222;
}
[data-theme="dark"] {
    --backColor:#202222;
    --color: #bec3c5;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--backColor);
    color: var(--color);
}
#header{
    text-align: center;
    font-size: 5rem;
}
#clock-icon{
    width: 60px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: baseline;
    /* background-color: blueviolet; */
}
#hour{
    font-size: 10rem;
}
#minute{
    font-size: 9rem;
}
#second{
    font-size: 8rem;
}
@media (max-width: 650px){
    #hour{
        font-size: 6rem;
    }
    #minute{
        font-size: 5rem;
    }
    #second{
        font-size: 4rem;
    }   
}
/* dark mode checkbox */
.theme-swich{
    position: absolute;
    top: 10px;
    right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #383636;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #cad2d8;
  transition: .4s;
}

input:checked + .slider {
  background-color: #cad2d8;
}
input:checked + .slider:before {
    background-color: #383636;
}

input:focus + .slider {
  box-shadow: 0 0 1px #cad2d8;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
